<a href="https://colab.research.google.com/github/RaphaelfsOliveira/colab_new_study/blob/main/Aula_de_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

uri = 'https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv'
data_frame_films = pd.read_csv(uri)

uri_2 = 'https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv'
data_frame_rating = pd.read_csv(uri_2)

data_frame_films.head()
data_frame_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
data_frame_films.columns = ['filmeId', 'titulo', 'genero']
data_frame_films.head()

data_frame_rating.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
data_frame_rating.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [21]:
data_frame_rating['nota'].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [23]:
sorted(data_frame_rating['nota'].unique())

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [24]:
data_frame_rating['nota'].mean()

3.501556983616962

In [25]:
data_frame_rating['nota'].min(), data_frame_rating['nota'].max()

(0.5, 5.0)

In [26]:
data_frame_rating.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09